.error {
    color: red;
}

.info {
    color: blue;
}

#nice-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#nice-table td, #nice-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#nice-table tr:nth-child(even){background-color: #f2f2f2;}

#nice-table tr:nth-child(odd){background-color: #d2d2d2;}

#nice-table tr:hover {background-color: #ddd;}

#nice-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #800020;
    /*color: ff7321;*/
    color: #fff;
}

